
html {
    font-size: 100%;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #ffe1ad;
}
.clear{
    clear:both;
    float: none !important;
}
.mobile {
    display: none;
}
.desktop {
    display:block;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
    text-decoration: none;
}
a, button {
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
}
h1, h2, h3, h4, h5 {
    font-weight: 700;
}
.page-content {
    padding-top: 139px;
}
.container {
    width: 1200px;
}
.main-container {
    background: #fbfbfb;
    margin-bottom: 60px;
    box-shadow: 1px 0px 5px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 0px 5px 0 rgba(0,0,0,0.15);
}
.container-inner {
    width: 800px;
    margin: 0 auto;
}
.header {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 1;
}
.header .container {
    position: relative;
}
.arrow-back {
    position: absolute;
    left: 0;
    top: 15px;
    border: 1px solid #a7a9ac;
    color: #a7a9ac;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 46px;
    height: 45px;
    width: 45px;
    text-align: center;
    cursor:pointer;
}
.arrow-back i {
    margin-left: -4px;
}
.arrow-back:hover i {
    color: #a7a9ac;
}
.header h1 {
    text-transform: uppercase;
    float:left;
    font-size: 2rem;
}
.header h1 i {
    color: #0266b3;
    margin-left: 1.5rem;
    cursor: pointer;
}
.pull-right {
    float:right;
    margin-top:32px;
}
input.search {
    display: block;
    width: 100%;
    background: #fbfbfb;
    outline: none;
    box-shadow: none;
    border: 1px solid #eee;
    padding: 7px 10px 5px;
    margin-top: 4px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7d8b93;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #7d8b93;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #7d8b93;
}
:-moz-placeholder { /* Firefox 18- */
    color: #7d8b93;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    margin: 0 0 0 20px;
    cursor: pointer;
}
input[type="radio"] + label > span {
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    margin: 0px 10px -1px 0;
    display: inline-block;
    border-radius: 50%;
}
input[type="radio"] + label > span > span {
    width: 7px;
    height: 7px;
    margin: 3px;
    background: white;
    display: block;
    border-radius: 50%;
}
input[type="radio"]:checked + label > span > span {
    background: black;
}
.sort {
    font-style: italic;
    font-family: 'PT Serif', serif;
}
.sort button {
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #a7a9ac;
    width: 100%;
    background: white;
    color: #a7a9ac;
    text-transform: uppercase;
    padding: 7px 10px 5px;
    margin-top: 16px;
    font-style: normal;
}
.sort input[type="radio"] + label {
    color: #0266b3;
    font-style: normal;
    margin-left: 7px;
    font-family: 'Roboto Condensed', sans-serif;
}
.sort input[type="radio"]:first-of-type + label {
    margin-right: 7px;
}
.sort input[type="radio"]:checked + label {
    text-decoration: underline;
    color: #a7a9ac;
}
/* questions */
.question {
    background: white;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.15);
    margin-bottom: 1px;
    position: relative;
}
.question-inner {
    background: #dff3fd;
    padding:0;
}
.question-img {
    width: 50px;
    border-radius: 50%;
    margin: 20px 40px 20px 20px;
    float: left;
}
.question-title {
    float: left;
    margin-top: 20px;
    color: #a7a9ac;
    text-transform: uppercase;
    font-size: 13px;
}
.question-name {
    color: #0266b3;
    font-weight: 700;
    font-size: 16px;
    margin-right: 15px;
    text-transform: none;
    line-height: 1.2em;
}
*[data-toggle] {
    cursor: pointer;
}
h2 {
    text-transform: none;
    color: #0266b3;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 4px;
    font-family: 'PT Serif', serif;
}
.question-response-container {
    width: 83.334%;
    float:right;
    background: white;
}
.question-response {
    width: 20%;
    float:left;
    background: white;
    color: #a7a9ac;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 5px 5px;
    margin-bottom: -5px;
    font-size: 11px;
    position: relative;
}
.question-response.asked {
    background: transparent;
    width: 16.667%;
}
.question-response-item {
    background: #eeeeee;
    padding: 10px 10px 0;
}
.question-response-item.more {
    background: white;
    font-family: 'PT Serif', serif;
    color: black;
    font-size: 1rem;
    text-transform: none;
}
.more-activities {
    padding-bottom: 10px;
    display: block;
    font-size: 15px;
    line-height: 1.2em;
}
.question-response-item-no {
    margin: 30px 0 50px;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.question-response-item .question-img {
    margin: 20px auto 50px;
    float: none;
}
.question-response.asked {
    padding: 160px 10px 0;
}
.question-response-item > div, .question-response.asked > div {
    border-top: 1px solid #a7a9ac;
    padding: 5px;
}
.question-response.answered .question-response-item > div {
    border-color: black;
}
.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom:0px;
    left: 50%;
    margin-left: -5px;
    background: #a7a9ac;
    display: inline-block;
}
.answered .ball {
    background: black;
}

.question-summary {
    margin-top: 125px;
    margin-bottom: 40px;
    padding-left: 20px;
    font-family: 'PT Serif', serif;
    font-style: italic;
}
.question-summary-item {
    margin-top: 45px;
}
.question-summary-item span {
    font-weight: 700;
    margin-right: 5px;
}
.load-more {
    padding: 40px 20px;
    color: red;
    cursor: pointer;
    background: white;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.15);
    margin-bottom: 1px;
    position: relative;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.4px;
}

/* single question */
.single-question {
    margin-top:119px;
}
.single-question .header {
    padding: 18px 0 36px;
}
.single-question .main-container {
    margin-bottom: 0;
    padding-bottom: 60px;
}
.pull-right span, .answers-topic span {
    margin: 0 5px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-style:normal;
}
.unfollow {
    font-weight: 700;
    margin-right: 50px;
    letter-spacing: 0.4px;
}
.unfollow-mobile {
    display: none;
}
.single-question .question-response-container {
    width: 88%;
    float: right;
    background: white;
    padding: 25px 25px 40px;
}
.question-response-container-inner {
    width: 75%;
    float: left;
}
.votes {
    margin-top: 0;
    font-style: italic;
    font-family: 'PT Serif', serif;
}
.votes-inner {
    float: right;
    margin: -20px 30px 0 24px;
    width: 12px;
}
.votes-inner a {
    display: block;
    font-size: 20px;
}
.reply {
    border: 1px solid #eee;
    background: white;
    color: black;
    padding: 7px 0px 5px;
    width: 180px;
    font-weight: 700;
    position: relative;
    top: -20px;
    margin: 0 auto;
    display: block;
}
.answers-topic {
    margin: 30px 0 10px;
    font-family: 'PT Serif', serif;
    text-align: center;
}
.answer-img {
    float: left;
    width: 90px;
}
.answer-img .question-img {
    margin: 20px;
}
.answer-content {
    width: 88%;
    width:calc(100% - 90px);
    width:-moz-calc(100% - 90px);
    width:-ms-calc(100% - 90px);
    width:-webkit-calc(100% - 90px);
    width:-o-calc(100% - 90px);
    float:left;
    padding: 0 25px 35px;
    border-left: 1px solid #eee;
}
.answer-content .question-title {
    float:none;
}
.divider {
    font-weight: 700;
    margin: 0 8px;
}
.time {
    font-family: 'PT Serif', serif;
    color: black;
    text-transform: none;
}
.answers .question-response-container-inner {
    margin-top: 15px;
}
.answers .votes {
    margin-top: 13px;
}
.sub-answer-item {
    margin-left: 90px;
}

/* user profile */
body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}
.modal-dialog {
    width: 850px;
}
.modal-content {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 50px 0 25px;
    position: relative;
}
.modal-content-inner {
    width: 600px;
    margin: 0 auto;
}
.modal-content .close {
    position: absolute;
    right: 15px;
    top: 10px;
}
.profile-img {
    width: 87px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}
.profile-title h3 {
    color: #0266b3;
    font-weight: 700;
    font-size: 1.15rem;
    text-align: center;
    letter-spacing: 0.9px;
    text-transform: none;
    margin: 17px 0 14px;
}
.profile-data {
    color: #7d8b98;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid #a7a9ac;
    padding-bottom: 20px;
    letter-spacing: 0.6px;
}
.profile-data span {
    text-transform: none;
    color: black;
    margin-left: 5px;
}
.profile-data div[class^="col-"]:nth-of-type(2) {
    text-align: center;
    padding: 0;
}
.profile-data div[class^="col-"]:nth-of-type(3) {
    text-align: right;
}
.profile-data i {
    color: #cfd1d3;
    font-size: 1.2rem;
    position: relative;
    top: 2px;
    margin-left: 5px;
}
.profile-data i.active {
    color: #fa8b81;
}
.profile-stats-title {
    font-family: 'PT Serif', serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 10px;
    letter-spacing: 1.5px;
    position: relative;
}
.prev-next {
    position: absolute;
    background: #a7a9ac;
    color: white;
    border-radius: 50%;
    display: block;
    font-size: 20px;
    line-height: 32px;
    height: 30px;
    width: 30px;
    text-align: center;

}
.prev-next:hover {
    background: #0266b9;
    color: white;
    opacity: 1;
}
.profile-prev {
    left:0;
}
.profile-next {
    right:0;
}
.profile-next i {
    padding-left: 4px;
}
.subtitle {
    color: #7d8b98;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 0;
    letter-spacing: 0.6px;
    text-align: center;
}
.profile-stats {
    width: 460px;
    margin: 30px auto 40px;
}
.profile-stats-item {
    width:95px;
    height:95px;
    background: #e5f5fd;
    background: rgba(217, 240, 252, 0.8);
    font-family: 'PT Serif', serif;
    float:left;
    text-align: center;
    padding: 20px 0;
    margin: 0 10px;
}
.profile-stats-item span {
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    font-size: 1.625rem;
    font-weight: 700;
}

.profile-stats-item:first-of-type {
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.profile-stats-item:first-of-type .profile-stats-item-inner {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.profile-stats-item:nth-of-type(2) {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.profile-stats-item:nth-of-type(2) .profile-stats-item-inner {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}
.profile-stats-item:nth-of-type(3) {
    -moz-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.profile-stats-item:nth-of-type(3) .profile-stats-item-inner {
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}
.profile-stats-item:nth-of-type(4) {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}
.profile-stats-item:nth-of-type(4) .profile-stats-item-inner {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.other-users {
    width: 312px;
    margin: 0 auto 20px;
}
.other-user-item {
    width: 90px;
    margin: 0 7px;
    float:left;
    text-align: center;
}
.other-user-image {
    width: 100%;
    height:90px;
    background-image: url(../img/bcg.gif);
    background-size: 180px;
    margin-bottom: 7px;
}
.other-users .question-name {
    margin:0 5px;
}
.discussion {
    background-image: url(../img/bcg.gif);
    background-size: 180px;
    color: #7d8b98;
    text-transform: uppercase;
    font-size: 13px;
    padding: 40px 0 25px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 30px;
}
.discussion .question-img {
    float:none;
    margin: -65px auto 15px;
    display: block;
}
.statistics {
    margin-top: 30px;
    color: black;
    font-family: 'PT Serif', serif;
}
.statistics-item {
    float:left;
    text-transform: none;
    width: 25%;
}
.statistics-item span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 110%;
    margin-right: 5px;
}
@media all and (max-width: 1250px) {
    .container {
        width: 100%;
    }
    .main-container {
        margin-bottom: 0px;
        padding-bottom: 60px;
    }
    .arrow-back {
        left: 20px;
        font-size: 22px;
        line-height: 42px;
        height: 40px;
        width: 40px;
    }
}
@media all and (max-width: 991px) {
    .mobile {
        display:block;
    }
    .desktop {
        display:none;
    }
    .page-content {
        padding-top: 0;
    }
    .single-question {
        margin-top: 0px;
    }
    .header {
        position: static;
    }
    .header h1 {
        margin-left: 80px;
    }
    .container-inner {
        width: 668px;
        position: relative;
    }
    .arrow-back {
        left: 0px;
    }
    .pick-questions {
        display: none;
    }
    .sort .pull-right {
        margin-left: -50px;
    }
    .question-response.asked {
        width: 90px;
    }
    .question-response.answered .question-response-item > div {
        color: black;
    }
    .question-response-container {
        width: 578px;
    }
    .question-response {
        width: 18.2%;
    }
    .question-response-container .comm:nth-of-type(4) {
        display: none;
    }
    .question-inner {
        margin-bottom: 40px;
    }
    .single-question .question-inner {
        margin-bottom: 0px;
    }
    .question-summary {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 15px;
        float: right;
    }
    .question-summary-item {
        margin-top: 42px;
    }
    .votes-inner {
        margin: -20px 0px 0 24px;
    }
    .modal-dialog {
        width: 668px;
        margin: 10px auto;
    }
}

@media all and (max-width: 700px) {

    .question-response-container {
        width: 406px;
    }
    .container-inner, .modal-dialog {
        width: 496px;
    }
    .question-response {
        width: 25%;
    }
    .question-response-container .comm:nth-of-type(3),
    .question-response-container .comm:nth-of-type(2) {
        display: none;
    }
    .unfollow {
        display: none;
    }
    .unfollow-mobile {
        display: block;
        font-weight: 700;
        letter-spacing: 0.4px;
        float:left;
        margin-top: 20px;
    }
    .votes, .answers .votes {
        margin-top: 20px;
    }
    .question-response-container-inner {
        width: 100%;
        float: none;
    }
    .modal-content-inner {
        width: 100%;
        padding: 0 10px;
    }
    .modal-content {
        padding: 20px 0;
    }
    .profile-data {
        padding-bottom: 10px;
    }
    .profile-data div[class^='col-'], .profile-data div[class^="col-"]:nth-of-type(3)  {
        width: 100%;
        text-align: center;
    }
    .profile-data span {
        margin-left: 0px;
        display: block;
        margin-bottom: 10px;
    }
    .profile-stats-title {
        margin: 20px 0 0px;
    }
    .profile-stats {
        width: 230px;
        margin: 20px auto 30px;
    }

}
@media all and (max-width: 520px) {
    html {
        font-size: 80%;
    }
    body {
        min-width: 290px;
        overflow-x: auto;
    }
    .header div[class^="col-"] {
        width: 100%;
    }
    .header h1 {
        margin-left: 50px;
        float: none;
    }
    .header h1 i {
        float: right;
        margin-top: 2px;
    }
    .single-question .header {
        padding: 0px 0 10px;
    }
    .arrow-back {
        font-size: 20px;
        line-height: 31px;
        height: 30px;
        width: 30px;
        margin-top: 5px;
    }
    .single-question .arrow-back {
        top:0;
        margin-top:0;
    }
    .sort .pull-right, .single-question .sort{
        display: none;
    }
    .container-inner, .modal-dialog {
        width: 320px;
    }
    .question-inner {
        margin-bottom: 30px;
    }
    .question-img {
        width: 36px;
        margin: 10px;
    }
    .single-question .question-img {
        margin: 18px 10px 0;
    }
    .question-title {
        margin-top: 0px;
        padding-top:10px;
        width: 264px;
    }
    .single-question .question-title {
        float:none;
        width: 100%;
        padding-top: 22px;
    }
    .single-question .question-title h2 {
        margin: 13px 0 0;
        padding: 10px 15px;
        border-top: 1px solid white;
    }
    .question-response.asked {
        display: none;
    }
    .question-response-container {
        width: 100%;
    }
    .single-question .question-response-container {
        width: 100%;
        padding: 10px 10px 30px;
    }
    .question-response-item.more {
        background: #eee;
    }
    .more-activities {
        font-size: 13px;
    }
    .question-response {
        padding: 1px 1px 5px 0;
        margin-bottom: -5px;
    }
    .question-response-item-no {
        margin: 30px 0 34px;
    }
    .question-response-item .question-img {
        margin: 20px auto 40px;
    }
    .question-summary {
        padding-left: 30px;
        font-size: 13px;
    }
    .question-summary-item {
        margin-top: 20px;
    }
    .answer-img {
        width: 60px;
    }
    .answer-content {
        width: 100%;
        float: none;
        padding: 0 0px 35px;
        border-left: none;
    }
    .answer-item .question-title {
        padding: 30px 10px 10px;
        border-bottom: 1px solid #eee;
    }
    .answers .question-response-container-inner {
        margin-top: 10px;
        padding: 0 10px;
    }
    .answers .votes {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .sub-answer-item {
        margin-left: 0px;
        border-left: 7px solid #d8d8d8;
    }
    .profile-img {
        width: 50px;
        margin: 0 auto;
    }
    .profile-stats-title {
        font-size: 1.6rem;
    }
    .prev-next {
        font-size: 12px;
        line-height: 22px;
        height: 20px;
        width: 20px;
    }
    .subtitle {
        max-width: 200px;
        margin: 0 auto;
    }
    .other-user-image .question-img {
        width: 50px;
        margin: 20px;
    }
    .discussion .question-img {
        width: 50px;
    }
    .statistics-item {
        width: auto;
        padding: 5px 17px;
    }
    h2 {
        font-size: 1.4rem;
    }
    .modal {
        padding-left: 0 !important;
    }
}
@media all and (max-width: 350px) {
    .container {
        padding:0;
    }
    .header .container {
        padding:0 10px;
    }
    .container-inner {
        width:100%;
    }
    .modal-dialog {
        width:100%;
        min-width: 290px;
        overflow-x: scroll;
    }
    .page-content {
        overflow-x: hidden;
    }
    .question-summary {
        padding-left: 10px;
    }
    .question-title {
        width: 234px;
    }
    .other-users {
        width: 270px;
    }
    .other-user-item {
        width: 80px;
        margin: 0 5px;
    }
    .other-user-image {
        height: 80px;
    }
    .other-user-image .question-img {
        margin: 15px;
    }
    .statistics-item {
        padding: 5px 10px;
    }
}