<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Junior Front-End dev recruitment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">

        <meta property="og:title" content="Project SETE">
        <meta property="og:description" content="">
        <meta property="og:type" content="website" />
        <meta property="og:image" content="">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400i" rel="stylesheet">

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

    </head>
    <body ng-app="App1" ng-init="order= '-published'">
        <div class="page-content">
            <div class="header">
                <div class="container">
                    <div class="container-inner">
                        <a href="#" class="arrow-back"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                        <div class="row">
                            <div class="col-xs-9">
                                <h1>Questions <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h1>
                                <form class="pull-right pick-questions">
                                    <input type="radio" name="range" id="my_shelf" checked>
                                    <label for="my_shelf"><span><span></span></span> My shelf</label>
                                    <input type="radio" name="range" id="all">
                                    <label for="all"><span><span></span></span>All questions</label>
                                </form>
                                <div class="clear"></div>
                                <input class="search" placeholder="Search questions" ng-model="searchValue">
                            </div>
                            <div class="col-xs-3 sort">
                                <div class="pull-right">Sort by: 
                                    <input type="radio" name="sort" id="recent" checked ng-click="order='-published'">
                                    <label for="recent">recent</label>
                                    or
                                    <input type="radio" name="sort" id="hot" ng-click="order='-comments'">
                                    <label for="hot" >hot</label>
                                </div>
                                <div class="clear"></div>
                                <button ng-click="search = searchValue">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container main-container" >
                <div class="container-inner" ng-controller="QuestionController as question" ng-init="limit = 3">
                    <div class="question" ng-repeat="item in (filtered = (question.items | orderBy: order | filter: search)) | limitTo:limit ">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="question-inner">
                                    <img class="question-img" data-toggle="modal" data-target="#profile" ng-src="{{item.images[0].thumb}}" alt="{{item.name}}">
                                    <div class="question-title">
                                        <span class="question-name" data-toggle="modal" data-target="#profile">{{item.name}}</span>is asking:
                                        <a href="single.html"><h2>{{item.question}}</h2></a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="question-response asked">
                                        <div>
                                            asked
                                        </div>
                                    </div>
                                    <div class="question-response-container">
                                        <div class="question-response" ng-show="(item.comments - 4 > 0)">
                                            <div class="question-response-item more">
                                                <span class="question-response-item-no">{{item.comments - 4}}</span>
                                                <span class="more-activities">more activities</span>
                                                <span class="ball"></span>
                                            </div>
                                        </div>
                                        <div class="question-response comm" ng-show="(item.comments > 3)">
                                            <div class="question-response-item">
                                                <img class="question-img" src="img/lena.jpg" alt="Eva">
                                                <div>commented</div>
                                                <span class="ball"></span>
                                            </div>
                                        </div>
                                        <div class="question-response comm" ng-show="(item.comments > 2)">
                                            <div class="question-response-item">
                                                <img class="question-img" src="img/lena.jpg" alt="Eva">
                                                <div>commented</div>
                                                <span class="ball"></span>
                                            </div>
                                        </div>
                                        <div class="question-response comm" ng-show="(item.comments > 1)">
                                            <div class="question-response-item">
                                                <img class="question-img" src="img/lena.jpg" alt="Eva">
                                                <div>commented</div>
                                                <span class="ball"></span>
                                            </div>
                                        </div>
                                        <div class="question-response answered" ng-show="(item.comments > 0)">
                                            <div class="question-response-item">
                                                <img class="question-img" src="img/lena.jpg" alt="Eva">
                                                <div>answered</div>
                                                <span class="ball"></span>
                                            </div>
                                        </div>
                                        <div class="question-summary mobile">
                                            <div class="question-summary-item">
                                                <span>{{item.related}}</span> related discussion
                                            </div>
                                            <div class="question-summary-item">
                                                <span>{{item.peers}}</span> peers involved
                                            </div>
                                            <div class="question-summary-item">
                                                <span>{{item.conversations}}</span> conversations
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-md-3 desktop">
                                <div class="question-summary">
                                    <div class="question-summary-item">
                                        <span>{{item.related}}</span> related discussion
                                    </div>
                                    <div class="question-summary-item">
                                        <span>{{item.peers}}</span> peers involved
                                    </div>
                                    <div class="question-summary-item">
                                        <span>{{item.conversations}}</span> conversations
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="load-more" ng-show="(filtered.length > limit)" ng-click="limit = limit + 3">
                        load more questions
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="profile" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-content-inner">
                        <div class="profile-title">
                            <img class="profile-img" src="img/lena.jpg" alt="Eva">
                            <h3>Dr. Halima</h3>
                        </div>
                        <div class="profile-data">
                            <div class="row">
                                <div class="col-xs-4">
                                    Member for <span>5 months</span>
                                </div>
                                <div class="col-xs-4">
                                    Last seen <span>Saturday afternoon</span>
                                </div>
                                <div class="col-xs-4">
                                    Activity level
                                    <span>
                                        <i class="fa fa-certificate active" aria-hidden="true"></i>
                                        <i class="fa fa-certificate active" aria-hidden="true"></i>
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-stats-title">
                            <a href="" class="prev-next profile-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                            <a href="" class="prev-next profile-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            How it all started
                        </div>
                        <div class="subtitle">That's where we have been these 5 months ago</div>
                        <div class="profile-stats">
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>46</span>peers
                                </div>
                            </div>
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>29</span>discussions
                                </div>
                            </div>
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>19</span>findings
                                </div>
                            </div>
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>10</span>questions
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="subtitle">Who joined the platform that same period</div>
                        <div class="other-users">
                            <div class="other-user-item">
                                <div class="other-user-image">
                                    <img class="question-img" src="img/lena.jpg" alt="Eva">
                                </div>
                                <a href="" class="question-name">S.E.N Waweru</a>
                            </div>
                            <div class="other-user-item">
                                <div class="other-user-image">
                                    <img class="question-img" src="img/lena.jpg" alt="Eva">
                                </div>
                                <a href="" class="question-name">Patricia</a>
                            </div>
                            <div class="other-user-item">
                                <div class="other-user-image">
                                    <img class="question-img" src="img/lena.jpg" alt="Eva">
                                </div>
                                <a href="" class="question-name">Joseph Aluoch</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="subtitle">The hottest discussion these days</div>
                    </div>
                    <div class="discussion">
                        <div class="modal-content-inner">
                            <img class="question-img" src="img/lena.jpg" alt="Eva">
                            <span class="question-name">Andrew</span> Found the guardian article
                            <h2>Vegan diet to stop diabetes progress</h2>
                            <div class="statistics">
                                <div class="statistics-item">
                                    <span>6</span> peers involved
                                </div>
                                <div class="statistics-item">
                                    <span>3</span> related discussion
                                </div>
                                <div class="statistics-item">
                                    <span>3</span> conversations
                                </div>
                                <div class="statistics-item">
                                    <span>19</span> upvotes
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>