<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Junior Front-End dev recruitment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">

        <meta property="og:title" content="Project SETE">
        <meta property="og:description" content="">
        <meta property="og:type" content="website" />
        <meta property="og:image" content="">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400i" rel="stylesheet">

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

    </head>
    <body ng-app="App1">
        <div class="single-question">
            <div class="header">
                <div class="container">
                    <div class="container-inner">
                        <a href="index.html" class="arrow-back"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                        <h1>Question <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h1>
                        <div class="pull-right sort">Last time discussed <span>1</span> day ago</div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="container main-container" ng-controller="QuestionController as question">
                <div class="container-inner" ng-repeat="item in question.items| limitTo:1 ">
                    <div class="question">
                        <div class="question-inner">
                            <img class="question-img" data-toggle="modal" data-target="#profile" src="img/lena.jpg" alt="Eva">
                            <div class="question-title">
                                <div class="question-title-inner"><span class="question-name" data-toggle="modal" data-target="#profile">{{item.name}}</span>is asking:</div>
                                <h2>{{item.question}}</h2>
                            </div>
                            <a href="#" class="pull-right unfollow">
                                unfollow
                            </a>
                            <div class="clear"></div>
                            <div class="question-response-container">
                                <div class="question-response-container-inner">
                                    {{item.description}}
                                </div>
                                <a href="#" class="unfollow-mobile">
                                    unfollow
                                </a>
                                <div class="votes pull-right">
                                    <span>{{item.rate}}</span> upvotes
                                    <div class="votes-inner">
                                        <a href="" ng-hide="item.rated" ng-click="item.rate = item.rate + 1; item.rated = 1"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                        <a href="" ng-hide="item.rated" ng-click="item.rate = item.rate - 1; item.rated = 1"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <button class="reply">GIVE new answer</button>

                    <div class="answers">
                        <div class="answers-topic"><span>{{item.commentsItems.length}}</span> peers already answered Eva</div>
                        <div ng-repeat="comment in item.commentsItems">
                            <div class="answer-item question">
                                <div class="answer-img">
                                    <img class="question-img" data-toggle="modal" data-target="#profile" ng-src="{{comment.images[0].thumb}}" alt="Eva">
                                </div>
                                <div class="answer-content">
                                    <div class="question-title">
                                        <span class="question-name" data-toggle="modal" data-target="#profile">{{comment.name}}</span>commented it <span class="divider">&middot;</span> <span class="time">{{comment.published}}</span>
                                    </div>
                                    <div class="question-response-container-inner">
                                        {{comment.description}}
                                    </div>
                                    <div class="votes pull-right">
                                        <span>{{comment.rate}}</span> upvotes
                                        <div class="votes-inner">
                                            <a href="" ng-hide="comment.rated" ng-click="comment.rate = comment.rate + 1; comment.rated = 1"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                            <a href="" ng-hide="comment.rated" ng-click="comment.rate = comment.rate - 1; comment.rated = 1"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="answer-item sub-answer-item question" ng-repeat="subcom in comment.subcomments">
                                <div class="answer-img">
                                    <img class="question-img" data-toggle="modal" data-target="#profile" ng-src="{{subcom.images[0].thumb}}" alt="Eva">
                                </div>
                                <div class="answer-content">
                                    <div class="question-title">
                                        <span class="question-name" data-toggle="modal" data-target="#profile">{{subcom.name}}</span>commented it <span class="divider">&middot;</span> <span class="time">{{subcom.published}}</span>
                                    </div>
                                    <div class="question-response-container-inner">
                                        {{subcom.description}}
                                    </div>
                                    <div class="votes pull-right">
                                        <span>{{subcom.rate}}</span> upvotes
                                        <div class="votes-inner">
                                            <a href="" ng-hide="subcom.rated" ng-click="subcom.rate = subcom.rate + 1; subcom.rated = 1"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                            <a href="" ng-hide="subcom.rated" ng-click="subcom.rate = subcom.rate - 1; subcom.rated = 1"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <button class="reply" ng-show="comment.subcomments.length">CONTINUE discussion</button>
                            <button class="reply" ng-hide="comment.subcomments.length">COMMENT</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="profile" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-content-inner">
                        <div class="profile-title">
                            <img class="profile-img" src="img/lena.jpg" alt="Eva">
                            <h3>Dr. Halima</h3>
                        </div>
                        <div class="profile-data">
                            <div class="row">
                                <div class="col-xs-4">
                                    Member for <span>5 months</span>
                                </div>
                                <div class="col-xs-4">
                                    Last seen <span>Saturday afternoon</span>
                                </div>
                                <div class="col-xs-4">
                                    Activity level
                                    <span>
                                        <i class="fa fa-certificate active" aria-hidden="true"></i>
                                        <i class="fa fa-certificate active" aria-hidden="true"></i>
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-stats-title">
                            <a href="" class="prev-next profile-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                            <a href="" class="prev-next profile-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            How it all started
                        </div>
                        <div class="subtitle">That's where we have been these 5 months ago</div>
                        <div class="profile-stats">
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>46</span>peers
                                </div>
                            </div>
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>29</span>discussions
                                </div>
                            </div>
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>19</span>findings
                                </div>
                            </div>
                            <div class="profile-stats-item">
                                <div class="profile-stats-item-inner">
                                    <span>10</span>questions
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="subtitle">Who joined the platform that same period</div>
                        <div class="other-users">
                            <div class="other-user-item">
                                <div class="other-user-image">
                                    <img class="question-img" src="img/lena.jpg" alt="Eva">
                                </div>
                                <div class="question-name">S.E.N Waweru</div>
                            </div>
                            <div class="other-user-item">
                                <div class="other-user-image">
                                    <img class="question-img" src="img/lena.jpg" alt="Eva">
                                </div>
                                <div class="question-name">Patricia</div>
                            </div>
                            <div class="other-user-item">
                                <div class="other-user-image">
                                    <img class="question-img" src="img/lena.jpg" alt="Eva">
                                </div>
                                <div class="question-name">Joseph Aluoch</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="subtitle">The hottest discussion these days</div>
                    </div>
                    <div class="discussion">
                        <div class="modal-content-inner">
                            <img class="question-img" src="img/lena.jpg" alt="Eva">
                            <span class="question-name">Andrew</span> Found the guardian article
                            <h2>Vegan diet to stop diabetes progress</h2>
                            <div class="statistics">
                                <div class="statistics-item">
                                    <span>6</span> peers involved
                                </div>
                                <div class="statistics-item">
                                    <span>3</span> related discussion
                                </div>
                                <div class="statistics-item">
                                    <span>3</span> conversations
                                </div>
                                <div class="statistics-item">
                                    <span>19</span> upvotes
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>